table {
	border: 5px solid silver;
}

td:hover {
	background-color:red;
	color:black;
}

tr, th {
	background-color: white;
	color: darkblue;
}

tr, td {
	background-color: darkblue;
	color: white;
}
